<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <!-- Logo Mercado Liebre -->
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"> </img>
            <!-- Barra de búsqueda -->
            <form action="#" method="get" class="search-form"> 
                <input type="text" placeholder="Buscar productos, marcas" class="search-input">
                <a class="search-button"><i class="fa fa-search"></i></a>
            </form>
            <!-- Texto -->
            <p class="copy-header">Comprá en cuotas y sin tarjeta de crédito <i class="fas fa-hand-holding-usd"></i></p>
        </div>
        
        <!-- Hamburguer button -->
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <!-- Menú de navegación-->
        <nav class="main-header-bottom-bar">
            <ul class="left-navbar">
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
              <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
              <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li> 
              <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></i></li>
            </ul>
        </nav>

        <!-- Botón de opciones mio-->
        <!-- <div id="divboton">
            <button class="button" name="menubar"><i class="fa-solid fa-bars"></i></button> 
        </div> -->
    </header>

    <!-- Banner -->
    <img src="/img/img-home-banner.jpg" width="100%" alt="Logo Mercado Liebre" class="banner"> </img>
    
    <main>
        <section class="last-visit-section">
            <h4 class="last-visit-section-title">Basado en tu útima visita</h4>
            <article class="article" id="art1">
                <img src="/img/img-cafetera-moulinex.jpg" width="200px" height="200px" alt="Imagen Cafetera" class="img" name="cafetera"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="producto">Cafetera Moulinex</p>
            </article>
            <article class="article" id="art2">
                <img src="/img/img-macbook-pro-2019.jpg" width="200px" height="200px" alt="Imagen Cafetera" class="img" name="cafetera"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="producto">MacBook Pro 2019</p>
            </article>
            <article class="article" id="art3">
                <img src="/img/img-samsung-galaxy-s10.jpg" width="200px" height="200px" alt="Imagen Samsung" class="img" name="celular"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="producto">Samsung Galaxy S10</p>
            </article>
            <article class="article" id="art4">
                <img src="/img/img-tv-samsung-smart.jpg" width="200px" height="200px" alt="Imagen TV" class="img" name="tv"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$23.200</p>
                <p class="descuento">50% off</p>
                <p class="producto">SmartTV Samsung 43"</p>
            </article>  
        </section>

        <section class="oferts-section">
            <h4 class="oferts-section-title">Sección de ofertas</h4>
            <article class="article" id="art5">
                <img src="/img/img-cafetera-moulinex.jpg" width="200px" height="200px" alt="Imagen Cafetera" class="img" name="cafetera"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="producto">Cafetera Moulinex</p>
            </article>
            <article class="article" id="art6">
                <img src="/img/img-macbook-pro-2019.jpg" width="200px" height="200px" alt="Imagen Cafetera" class="img" name="cafetera"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="producto">MacBook Pro 2019</p>
            </article>
            <article class="article" id="art7">
                <img src="/img/img-samsung-galaxy-s10.jpg" width="200px" height="200px" alt="Imagen Samsung" class="img" name="celular"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="producto">Samsung Galaxy S10</p>
            </article>
            <article class="article" id="art8">
                <img src="/img/img-tv-samsung-smart.jpg" width="200px" height="200px" alt="Imagen TV" class="img" name="tv"> </img>
                    <!-- <i class="fa-solid fa-truck" name="truckicon"></i> -->
                <p class="precio">$23.200</p>
                <p class="descuento">50% off</p>
                <p class="producto">SmartTV Samsung 43"</p>
            </article>  
        </section>
    </main>

    <footer class="main-footer">
        <div class="main-footer-bar">
            <section class="section-footer">
                <i class='fa fa-credit-card-alt'></i>
                <h3 class="h3-footer">Pagá con tarjeta o efectivo</h3>
                <p class="p-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="section-footer">
                <i class="fa-solid fa-gift"></i>
                <h3 class="h3-footer">Envío gratis desde $ 2.500</h3>  
                <p class="p-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="section-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h3 class="h3-footer">Seguridad de principio a fin</h3>
                <p class="p-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <p class="p-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    <script src="https://kit.fontawesome.com/70f7d39aeb.js" crossorigin="anonymous"></script>
</body>

</html>
