<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <!-- Logo Mercado Liebre-->
        <img src="../public/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"> </img>

        <!-- Barra de búsqueda -->
        <div class="search">
            <form action="#"> 
                <input type="text" placeholder="Buscar productos, marcas">
            </form>
        </div>

        <!-- Menú de navegación-->
        <nav class="menu">
            <ul>
              <li type="circle"><a href="#">Ofertas</a></li>
              <li type="circle"><a href="#">Tiendas Oficiales</a></li>
              <li type="circle"><a href="#">Vender</a></li>
              <li type="circle"><a href="#">Ayuda</a></li>
              <br>
              <li type="circle"><a href="#">Creá tu cuenta</a></li>
              <li type="circle"><a href="#">Ingresá</a></li> 
              <li type="circle"><a href="#">Mis compras</a></li>
            </ul>
          </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>

<!-- Debe tener las etiquetas header, main y footer-->