*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*--- Esta parte es más para el header */

.main-header{
    background-color: #EAC926;
    padding: 10px;
}

.logo{
    width: 150px;
    margin-right: 20px;
}

.copy-header{
    text-align: center;
    max-width: 320px;
    padding: 16px 0px;
    margin: auto;
}

.hamburguer-button{
    background-color: #03264C;
    color: #FFFFFF;
    display: block;
    max-width: 50px;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-bottom-bar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-header-bottom-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block; /*ESte es necesario para el padding y el fs de abajo*/
    padding: 5px 0px;
    font-size: 15px;
    display: flex;
}

.main-header-bottom-bar{
    display: none;
}

.search-form{
    height: 39px;
    width: 150px;
    display: flex;
    /* margin: auto; */
}

.search-input{
    width: 80%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-style: none;
    border-right: 1px solid #ebebeb;
}

.search-button{
    width: 20%;
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*--- Esta parte es más para el footer */

.main-footer-bar{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 30px;
}

.section-footer{
    width: 360px;
    text-align: center;
}

.section-footer i{
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 500ms; 
}

.p-footer{
    color: #666;
    font-size: 15px;
}

.h3-footer{
    color: #666;
    font-weight: 550;
    font-size: 25px;
}

.p-copyright{
    color: #666;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    border-top: solid 1px #ebebeb;
}

/* Esta parte es más para el main-home */

.main-home{
    text-align: center;
    /* width: 90vw; */
    margin: auto;
    background-color: #ebebeb;
    padding-bottom: 30px;
}

.main-home h4{
    margin: 0px;
    padding: 20px 0px;
    font-size: 20px;
    color: #666;
}

/* .article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 150px;
    top: -28px;
} */

.article i{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    left: 175px;
    top: 15px;
}

.article{
    width: 220px;
    margin: 10px;
    background-color: white;
}

.article-description{
    border-top: solid 1px #ebebeb;
    padding: 15px; 
}

.last-visit-section, .oferts-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* .fa-solid.fa-truck::before{
    color: green;
    border-radius: 50%;
    border: 1px solid green;
    padding: 7px;
} */

.descripcion{
    display: none;
}

.precio-descuento{
    display: flex;
    align-items: center;
}

.precio-descuento p{
    margin: 10px 0px;
}

/* .precio{  Lo comenté porque se pega el precio de 230.000 con el descuento
    width: 30%;
} */

.descuento{
    width: 70%;
    text-align: left;
    padding-left: 10px;
    color:#39b54a
}

/* Esta parte es para el main-login */

.main-login{
    padding: 50px 20px;
    text-align: center;
    background-color: #ebebeb;
}

.login-form{
    margin: auto;
    max-width: 320px;
}

.login-input-container{
    margin-bottom: 25px;
}

.login-input-container input{
    width: 100%;
    padding: 10px 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-style: none;
    border-right: 1px solid #ebebeb;
}

.login-send-button{
    width: 100%;
    padding: 10px 0px;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #1259c3;
}

/* Esta parte es más para el main-register */

.main-register{
    padding: 50px 20px;
    text-align: center;
    background-color: #ebebeb;
}

.main-register h4{
    text-align: left;
}

.register-form{
    margin: auto;
    max-width: 320px;
}


.register-input-container{
    margin-bottom: 25px;
}

.register-input-container input{
    width: 100%;
    padding: 10px 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-style: none;
    border-right: 1px solid #ebebeb;
}

.buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register-input-radio-container{
    display: flex;
    justify-content: space-evenly;
}

.checkbox-container{
    margin: 15px 0px;
    text-align: left;
    margin-left: 25px;
}

.register-send-button, .register-reset-button{
    width: 40%;
    padding: 10px 0px;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #1259c3;
}

@media (min-width: 361px){

    .copy-header{
        max-width: 180px;
        text-align: right;
        margin: 0px;
        margin-left: 20px;
    }

    .search-form{
        width: 350px;
    }
    
    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguer-button{
        display: none;
    }
    
    .main-header-bottom-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content: space-between;
    }

    .main-header-bottom-bar li{
        margin: 0px 5px;
    }

    /* Esta parte es más para el footer */

    .main-footer-bar{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        padding-top: 30px;
    }

    .section-footer{
        margin: 0px 10px;
    }

    /* Esta parte es más para el main-home */

    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion{
        display: block;
        margin: 0px;
        text-align: left;
    }

    /*Esta parte es más para el main-login */

    .login-form{
        max-width: 500px;
    }

    /* Este es más para el main-register */
    
    .register-form{
        max-width: 500px;
    }
}


@media (min-width: 769px){
    
    .logo{
        width: 170px;
    }

    .copy-header{
        max-width: 500px;
        font-size: 18px;
    }

    .search-form{
        width: 500px;
    }

    .main-header-top-bar, .main-header-bottom-bar{
        max-width: 1280px;
        margin: auto;
    }

    .main-header-bottom-bar{
        margin-top: 10px;
    }
    
    .main-header-bottom-bar li{
        margin: 0px 10px;
    }

    .main-header-bottom-bar a{
        font-size: 18px;
    }
  
    .hamburguer-button{
        display: none;
    }

    .search-form{
        max-width: 1000px;
    }

    /* Esta parte es más para el main-home */

    .descripcion{
        display: none;
        margin: 0px;
        text-align: left;
    }

    /* .precio-descuento:hover::after{ Esto es solo para recordar que puedo agregar contenido después utilizando el after y estos e hace cuando haya hover
        content: " (" attr(class) ") "  esto para recordar que en el content puedo agregar un attributo existente, en este caso lo que se agrega es lo que está dentro de precio descuento
    } */                                

    .article-description:hover .descripcion{ /* cuando le hago hover al .article-descripcion, muestra .descripcion que antes estaba oculto. Esto funciona porque .descripcion está adentro de .article-description */
        display: block;
    }

    i[name="truck-icon"]:hover {
        transform: rotate(-90deg);
    }

    /* Esta parte es más para el main-login */
    button:hover{
        background-color: #0022AA;
    }
    /* Esta parte es más para el footer */

    .main-footer-bar{
        max-width: 1280px;
    }

    .section-footer i:hover{
        color: #39b54a;
    }
} 

