*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
}

.logo{
    width: 150px;
}

.copy-header{
    text-align: center;
    max-width: 320px;
    padding: 16px 0px;
    margin: auto;
}

.hamburguer-button{
    background-color: #03264C;
    color: #FFFFFF;
    display: block;
    max-width: 50px;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-header-bottom-bar ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-header-bottom-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block; /*ESte es necesario para el padding y el fs de abajo*/
    padding: 5px 0px;
    font-size: 15px;
    display: flex;
}

.main-header-bottom-bar{
    display: none;
}

.search-form{
    height: 39px;
    width: 150px;
    display: flex;
    margin: auto;
}

.search-input{
    width: 80%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-style: none;
    border-right: 1px solid #ebebeb;
}

.search-button{
    width: 20%;
    background-color: #FFFFFF;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 361px){

    .copy-header{
        max-width: 180px;
        text-align: right;
        margin: 0px;
    }

    .search-form{
        width: 350px;
    }
    
    .main-header-top-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguer-button{
        display: none;
    }
    
    .main-header-bottom-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-header-bottom-bar ul{
        display: flex;
        justify-content: space-between;
    }

    .main-header-bottom-bar li{
        margin: 0px 5px;
    }
}

@media (min-width: 769px){
    
    .logo{
        width: 170px;
    }

    .copy-header{
        max-width: 500px;
        font-size: 18px;
    }

    .search-form{
        width: 500px;
    }

    .main-header-top-bar, .main-header-bottom-bar{
        max-width: 1280px;
        margin: auto;
    }

    .main-header-bottom-bar{
        margin-top: 30px;
        flex-wrap: rap;
    }
    
    .main-header-bottom-bar li{
        margin: 0px 10px;
    }

    .main-header-bottom-bar a{
        font-size: 18px;
    }

    article img, article ul{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .hamburguer-button{
        display: none;
    }

    .search-form{
        max-width: 1000px;
    }
} 

